.row.justify-content-center
  .col-8
    %h2 
      = link_to root_path do
        = icon 'fas', 'angle-left'
      Editando empleado
    .card
      .card-body
        = render partial: 'form', locals: { form_args: @employee }
