@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.empty-state {
  height: 200px;
}

.app-frame {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 2;
}